:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  font-color: var(--jet);

  background-color: var(--platinum);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  --aquamarine: #85ffc7ff;
  --skobeloff: #297373ff;
  --amethyst: #9368b7ff;
  --platinum: #e6e6e6ff;
  --jet: #39393aff;
  --coral: #ff8552ff;
}